.link {
	cursor: pointer;
}

.input-1 {
	width: 1rem;
}

.input-2 {
	width: 2rem;
}

.input-3 {
	width: 3rem;
}

.input-4 {
	width: 4rem;
}

.input-5 {
	width: 5rem;
}

.input-6 {
	width: 6rem;
}

.input-7 {
	width: 7rem;
}

.input-8 {
	width: 8rem;
}

.input-9 {
	width: 9rem;
}

.input-10 {
	width: 10rem;
}

