<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="utf-8" />
	<title>Assistències</title>
	<meta name="description" content="Assistents al campus actual" />
	<meta name="author" content="Carles Canellas" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
	<link href="css/sticky-footer-navbar.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="css/styles.css?v=1.0" /></head><body>
  <header>
  	<!-- Fixed navbar -->
    <nav id="main"></nav>
  </header>
  <!-- Begin page content -->
  <main role="main" class="container">
	  <div class="py-2"></div>
    <button class="btn btn-primary btn-lg btn-block" onclick="addAttendance()">Afegir assistència</button>
	  <div class="py-2"></div>
		<div class="container">
      <div class="row">
        <div class="col-md-12 order-md-1">
		      <h4 class="mb-3">Assistents al Campus</h4>
		      <div class="row">
		      	<div class="col-md-12 mb-3">
		      		<table class="table">
		      			<thead>
	      					<th scope="col"><input type="checkbox" id="toggleAll" onchange="checkAllToggle(event)" /></th>
	      					<th scope="col">
	      						<i class="material-icons link" title="Imprimir acreditacions seleccionades" onclick="printAccreditations()">print</i>
	      					</th>
		      				<th scope="col">Nom</th>
		      				<th scope="col">Correu electrònic</th>
		      				<th scope="col">Rol</th>
		      				<th scope="col"></th>
		      			</thead>
		      			<tbody>
		      				<tr id="id-1006">
		      					<td><input type="checkbox" onchange="checkToggle(event)" /></td>
		      					<td>
		      						<i class="material-icons link" title="Imprimir acreditació" onclick="printAccreditation(this)">print</i>
		      					</td>
		      					<td>Carles Canellas Crusellas</td>
		      					<td>carlescanellas@hotmail.com</td>
		      					<td>rol</td>
		      					<td>
		      						<i class="material-icons link" title="editar" onclick="editAttendance(event)">edit</i>
		      						<i class="material-icons link" title="eliminar" onclick="deleteAttendance(event)">delete</i>
		      					</td>
		      				</tr>
	      				</tbody>
      				</table>
    				</div>
		      </div>
          <div class="mb-4"></div>
        </div>
      </div>	
	  </div>
	</main><div id="modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Afegir una assistència</h5>
	      </div>
	      <form class="needs-validation" method="post" onsubmit="return saveMember()">
		      <div class="modal-body">
						<div class="container">

	            <div class="row">
	              <div class="col-md-4 mb-3">
	                <label for="members">L'assistent és membre EGS</label>
	                <select class="custom-select d-block w-100" id="members" onchange="getEgsData(event)">
	                	<option value="">--</option>
	                </select>
	              </div>
	              <div class="col-md-8 mb-3">
		              <label for="email">Correu electrònic</label>
		              <div class="input-group">
		                <div class="input-group-prepend">
		                  <span class="input-group-text">@</span>
		                </div>
			              <input type="email" class="form-control" id="email" name="email" placeholder="nom@exemple.com" required="" /></div>
	              </div>
              </div>

				      <div class="row">
	              <div class="col-md-4 mb-3">
	                <label for="name">Nom</label>
	                <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="" /></div>
	              <div class="col-md-8 mb-3">
	                <label for="surnames">Cognoms</label>
	                <input type="text" class="form-control" id="surnames" name="surnames" placeholder="" value="" required="" /></div>
		          </div>
		
	            <div class="row">
	              <div class="col-md-6 mb-3">
	                <label for="accomodation">Allotjament</label>
	                <select class="custom-select d-block w-100" id="accommodation" name="accommodation" required="">
	                	<option value="0" selected="">Escoles</option>
	                	<option value="1">Zona d'acampada</option>
	                	<option value="2">Altres</option>
                	</select>
              	</div>
	              <div class="col-md-6 mb-3">
	                <label for="role">Rol</label>
	                <select class="custom-select d-block w-100" id="role" name="role" required="">
	                	<option value="3" selected="">Organització</option>
	                	<option value="4">Músic</option>
	                	<option value="5">Altres</option>
                	</select>
              	</div>
	            </div>
		
	            <h4 class="mt-3 mb-3">Àpats</h4>
	            <div class="form-group">
		            <div class="row">
		              <div class="col-md-2 mb-3">
		                <label>Dijous:</label>
		              </div>
		              <div class="col-md-2 mb-3">
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="thursdayDinner" id="thursdayDinner" /><label class="custom-control-label" for="thursdayDinner">Sopar</label>
				            </div>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-md-2 mb-3">
		                <label>Divendres:</label>
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="fridayLunch" id="fridayLunch" /><label class="custom-control-label" for="fridayLunch">Dinar</label>
				            </div>
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="fridayDinner" id="fridayDinner" /><label class="custom-control-label" for="fridayDinner">Sopar</label>
				            </div>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-md-2 mb-3">
		                <label>Dissabte:</label>
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="saturdayLunch" id="saturdayLunch" /><label class="custom-control-label" for="saturdayLunch">Dinar</label>
				            </div>
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="saturdayDinner" id="saturdayDinner" /><label class="custom-control-label" for="saturdayDinner">Sopar</label>
				            </div>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-md-2 mb-3">
		                <label>Diumenge:</label>
		              </div>
		              <div class="col-md-2 mb-3">
				            <div class="custom-control custom-checkbox">
				              <input type="checkbox" class="custom-control-input" name="sundayLunch" id="sundayLunch" /><label class="custom-control-label" for="sundayLunch">Dinar</label>
				            </div>
		              </div>
		            </div>
	            </div>
	            <div class="row">
	              <div class="col-md-2 mb-3">
	                <label for="diet">Dieta</label>
	                <select class="custom-select d-block w-100" id="diet" name="diet" required="">
	                	<option value="0" selected="">Normal</option>
	                	<option value="1">Vegetariana</option>
	                	<option value="2">Celíaca</option>
	                </select>
	              </div>
	            </div>

					  </div>
					</div>
		      <div class="modal-footer">
		        <button type="button" id="saveButton" class="btn btn-primary" onclick="saveAttendance()">Desar</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel·lar</button>
		      </div>
		      <input name="function" value="addMember" hidden="" /></form>
	    </div>
	  </div>
	</div>

		<footer class="footer">
	  <div class="container">
	    <a href="http://esclatgospelsingers.com" target="_blank"><span class="text-muted">Esclat Gospel Singers</span></a>
	  </div>
	</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="js/attendances.js"></script>
<script src="js/accreditations.js"></script>
</body>
</html>