<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="utf-8" />
	<title>Creps</title>
	<meta name="description" content="Comandes de creps" />
	<meta name="author" content="Carles Canellas" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="css/styles.css?v=1.0" />
	<link rel="stylesheet" href="css/creps.css?v=1.0" />
</head>
<body>
  <!-- Begin page content -->
  <main role="main" class="container">
  	<div id="managerNotAllowed" hidden="">
			<p>El gestor de creps està deshabilitat. Parleu amb l'administrador.</p>  	
  	</div>
  	<div id="data">
		  <div class="header">
				<div class="inline mr-3">
					<input type="checkbox" id="crepsEnabled" onclick="toggleShop(this)" />
					<label for="crepsEnabled">Habilitar la venda telemàtica</label>
				</div>
				<div class="inline">
					<input type="checkbox" id="toggleServed" onclick="toggleServed(this)" checked="" />
					<label for="toggleServed">Amagar comandes servides</label>
				</div>
		  </div>
		  <div class="orders">
				<table>
					<tbody>
						<tr class="template">
							<td class="col-order">1</td>
							<td class="col-ingredients link" onclick="done(event)"></td>
							<td class="col-warned link" onclick="warn(event)"></td>
							<td class="col-served link" onclick="serve(event)"></td>
						</tr>
					</tbody>
				</table>
		  </div>
  	</div>
	<input type="input" id="crepsManagerEnabled" hidden="" />
  
  </main>
	
<script src="js/scripts.js"></script>
<script src="js/creps.js"></script>
</body>
</html>