<!DOCTYPE html>
<html lang="ca">
<head>
	<meta charset="utf-8" />
	<title>Gestor de creps</title>
	<meta name="description" content="Ajustos per la compra de creps" />
	<meta name="author" content="Carles Canellas" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
	<link href="css/sticky-footer-navbar.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="css/styles.css?v=1.0" />
</head>
<body>
  <header>
  	<!-- Fixed navbar -->
    <nav id="main"></nav>
  </header>
  <!-- Begin page content -->
  <main role="main" class="container">
	  <div class="py-2"></div>
		<div class="container">
			<div class="row">
        <div class="custom-control custom-checkbox mr-3">
          <input type="checkbox" class="custom-control-input" id="crepsShopEnabled" onchange="setCrepsShopEnabled(this)">
          <label class="custom-control-label" for="crepsShopEnabled">Habilitar la venda de creps</a>
        </div>
        <div class="custom-control custom-checkbox mr-3">
          <input type="checkbox" class="custom-control-input" id="crepsManagerEnabled" onchange="setCrepsManagerEnabled(this)">
          <label class="custom-control-label" for="crepsManagerEnabled">Habilitar el</label> <a href="creps.php" target="_blank">gestor de vendes</a>
        </div>
        <div class="custom-control">
          <label class="" for="crepsManagerPassword" title="Contrasenya pel gestor de vendes">Contrasenya</label>
          <input type="text" class="input-7" id="crepsManagerPassword" onchange="setCrepsManagerPassword(this)">
        </div>
        <div class="custom-control">
          <label class="" for="maxPendingCreps" title="Màxim número de creps pendents per comprador">Creps pendents per comprador</label>
          <input type="number" class="input-4" id="maxPendingCreps" min="1" max="10" value="5" onchange="setMaxPendingCreps(this)">
        </div>
      </div>
    <button class="btn btn-primary btn-lg btn-block" onclick="addIngredient()">Afegir ingredient</button>
	  <div class="py-2"></div>
      <div class="row">
        <div class="col-md-12 order-md-1">
		      <h4 class="mb-3">Ingredients dels creps</h4>
		      <div class="row">
		      	<div class="col-md-12 mb-3">
		      		<table class="table table-sm">
		      			<thead>
		      				<th scope="col">Ingredient</th>
		      				<th class="col-md-1" scope="col">Visible</th>
		      				<th class="" scope="col"></th>
		      				<th class="" scope="col">Castellà</th>
		      				<th class="" scope="col"></th>
		      				<th class="" scope="col">Anglès</th>
		      				<th class="" scope="col"></th>
		      				<th class="" scope="col">Francès</th>
		      				<th class="" scope="col"></th>
		      			</thead>
		      			<tbody>
		      				<tr id="id-1">
		      					<td class="name">Melmelada</td>
		      					<td><input type="checkbox" onchange="setVisible(event)" /></td>
		      					<td>
		      						<i class="material-icons link" title="editar" onclick="editIngredient(event)">edit</i>
		      						<i class="material-icons link" title="eliminar" onclick="deleteIngredient(event)">delete</i>
		      					</td>
		      					<td class="es"></td>
		      					<td>
		      						<i class="material-icons link" title="editar" onclick="editLanguage(event, 'es')">edit</i>
		      					</td>
		      					<td class="en"></td>
		      					<td>
		      						<i class="material-icons link" title="editar" onclick="editLanguage(event, 'en')">edit</i>
		      					</td>
		      					<td class="fr"></td>
		      					<td>
		      						<i class="material-icons link" title="editar" onclick="editLanguage(event, 'fr')">edit</i>
		      					</td>
		      				</tr>
	      				</tbody>
      				</table>
    				</div>
		      </div>
          <div class="mb-4"></div>
        </div>
      </div>	
	  </div>
	</main>
	
	<div id="modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Ingredients més demanats</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
  	      </button>
  	    </div>
  	    <div class="modal-body">
  	    	<div class="container-fluid">
  	    		<div id="chart-ingredients"></div>
          </div>
        </div>
		  </div>
	  </div>
  </div>

	<footer class="footer">
	  <div class="container">
	    <a href="http://esclatgospelsingers.com" target="_blank"><span class="text-muted">Esclat Gospel Singers</span></a>
	  </div>
	</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/scripts.js"></script>
<script src="js/ingredients.js"></script>
</body>
</html>