   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.php">Campus </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.php">Inici <span class="sr-only">(actual)</span></a>
          </li>
					<li class="nav-item dropdown" id="navAdministrator">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administració</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="staff.php">Administradors</a>
							<a class="dropdown-item" href="attendances.php">Assistents</a>
							<a class="dropdown-item" href="registrations.php">Inscrits</a>
						</div>
					</li>
        </ul>
        <ul class="navbar-nav mt-2 mt-md-0">
					<li class="nav-item dropdown" id="navUser">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    	<i class="material-icons md-24 link">person</i>
			    	<span class="username"></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item link" onclick="logout()">Sortir</a>
						</div>
					</li>
        </ul>
      </div>
    </nav>
